<div class="wrapper">
    <h1>Community</h1>
    <div class="contents">
        <h2>Meet our Teachers</h2>   
        <%= render partial: 'user', collection: @users.admin %>
        <%= render partial: 'user', collection: @users.teacher %>
        <h2>Meet our Students</h2>
        <%= render partial: 'user', collection: @users.student %>
    </div>
</div>
