
    <div class="site-title">
        <h1>Find Your Flow</h1>
    </div>

    <div class="button-container">
        <div><%= link_to 'Sign Up', new_user_path %></div>
        <div><%= link_to 'Log In', login_path %></div>
    </div>