    <div>
        <%= form_with(url: courses_path, method: :get) do |f| %>
            <%= f.label :filter, "Filter courses by level"  %>
            <%= f.select :filter, options_for_select(["All", 1, 2, 3]), prompt: false %>
            <%= f.submit "Search" %>
        <% end  %>
    </div>