<div class="wrapper">
    <div>

        <% if params[:user_id] %>
           <h1 class="heading"> <%= @user.full_name %>'s Courses</h1>
        <% else %>
            <h1 class="heading">All the Courses</h1>
        <% end %>

    </div>

    <%= render partial: 'filter' %>

    <div class="contents">
        <% @courses.each do |course| %>
           <%= render partial: 'course', locals: {course: course} %> 
        <% end %>
    </div>
    
    <% if logged_in? && current_user.admin? %>
        <div class="button">
            <%= link_to 'Create a new Course', new_course_path %>
        </div>
    <% end %>

</div>


    

