<h1 class="heading">All the Courses</h1>

<div class="wrapper">

    <% @courses.each do |course| %>

        <div>
            <h3><%= link_to course.name, course_path(course) %> - Level <%= course.level %> </h3>
            <p><%= course.description %></p>    

        </div>
        <br>

    <% end %>

    <%= link_to 'Create a new Course', new_course_path %>
</div>


