<div class="wrapper">
    <%= conditionally_display_heading(@user) %>

    <%= render partial: 'filter' %>

    <%= render partial: 'course', collection: @courses %>
    
    <%= create_new_course_if_admin %>
</div>


    

