<%= render partial: 'application/errors', locals: {object: @review} %>

<div class="wrapper">
  <h1>Edit my review</h1>
  <h2>for <%= @review.course.name %></h2>
  <%= render partial: 'form', locals: {rev5ew: @review} %>
</div>