<h1>Edit my review</h1>
<h2>for <%= @review.course.name %></h2>
<div class="wrapper">
  <%= form_for @review do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
    <%= f.submit %>
  <% end %>
</div>