<h1>All the Classes</h1>

<% @klass.each do |k| %>

    <div>
        <h3><%= link_to k.name, class_path(k) %> - Level <%= k.level %> </h3>
        <p><%= k.description %></p>    

    </div>
    <br>

<% end %>
